.title-section {
  display: flex;
  flex-direction: row; /* Keep the layout side-by-side */
  justify-content: space-between; /* Space between text and model */
  align-items: center;
  height: 100vh;
  padding: 0 5%; /* Padding for spacing */
  color: white;
  background: #0f0f0f; /* Dark background color */
  overflow: hidden;
}

.text-container {
  flex: 1;
  max-width: 50%; /* Take half the width for the text section */
  text-align: left; /* Align text to the left */
}

.title {
  font-size: 3vw; /* Reduced size for the title */
  font-weight: bold;
  margin: 0;
  color: white; /* White color for the title */
  animation: fadeIn 1.5s ease-in-out; /* Fade-in animation */
}

.subtitle {
  font-size: 1.5vw; /* Adjusted size for subtitle */
  font-weight: 300;
  color: #cccccc; /* Light gray for the subtitle text */
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.subtitle span {
  margin-right: 0.5rem; /* Space between "I'm a" and the dynamic title */
}

.animated-title {
  font-weight: bold;
  color: #008f11; /* Blue color for the animated dynamic text */
}

.blink {
  animation: blink 0.5s infinite; /* Blinking cursor effect */
  color: #008f11 /* Matches the animated title color */
}

.model-container {
  flex: 1;
  max-width: 50%; /* Take half the width for the model */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-canvas {
  width: 100%;
  height: 100%;
}

/* Keyframes for animations */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
